@import "tailwindcss";
@plugin "daisyui";

/* Custom CSS variables */
:root {
  /* --primary: #FF7C5B; */
  --primary: #01afd1;
  --secondary: #3b3328;
  --accent: #4f46e5;
}

body { 
  /* color: antiquewhite; */
  background-color: rgb(241, 241, 241);
  font-family: var(--font-roboto);
  padding: 0;
  margin: 0;
  overflow-x: clip;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}


.range-slider {
  background: none;
  -webkit-appearance: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
}

.range-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}

/* Custom checkbox: white box, primary-color checkmark when checked */
.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #cbd5e1; /* tailwind gray-300 */
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.custom-checkbox:focus {
  outline: 2px solid rgba(1,175,209,0.15);
  outline-offset: 2px;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: 2px solid transparent;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.custom-checkbox:checked {
  /* keep box white but highlight border */
  background: #ffffff;
  border-color: var(--primary);
}

.custom-checkbox:checked::after {
  border-color: var(--primary); /* checkmark color */
  opacity: 1;
}


/* Default text */
.collapse input:not(:checked) ~ .collapse-title .read-toggle::after {
  content: "Read";
  background-color: var(--primary);
  padding: 10 20;
  border-radius: 5px;
  color: white;
}

/* When open */
.collapse input:checked ~ .collapse-title .read-toggle::after {
  content: "Read less";
  background-color: var(--primary);
  padding: 10 20;
  border-radius: 5px;
  color: white;
}