@import "tailwindcss";
@plugin "daisyui";

/* Custom CSS variables */
:root {
  --primary: #FF7C5B;
  /* --primary: #01afd1; */
  --secondary: #353e4d;
  --accent: #4f46e5;
}

body {
  font-family: var(--font-roboto);
  padding: 0;
  margin: 0;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}